@use '../../scss/index' as *;


.error-page {
  font-size: 1em;
  .wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    @include tablet {
      flex-wrap: wrap;
      padding: 10px 30px;
    }
    .left {
      width: 80%;
    }
    .right {
      padding: 20px;
      border: 1px solid transparent;
      border-radius: $border-radius;
      h1 {
        font-size: 7.5em;
        margin-bottom: 0;
      }
      h2 {
        font-size: 3em;
      }
      p {
        font-size: 1.2em;
      }
      @include tablet {
        border-color: $main-color;
      }
    }
  }
  .btn {
    z-index: 1;
    overflow: hidden;
    background: transparent;
    position: relative;
    padding: 8px 50px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 1em;
    letter-spacing: 2px;
    transition: 0.2s ease;
    font-weight: bold;
    margin: 5px 0px;
    &.main-color {
      border: 4px solid $main-color;
      color: $black;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background: $main-color;
        z-index: -1;
        transition: 0.2s ease;
      }
      &:hover {
        color: $white;
        background: $main-color;
        transition: 0.2s ease;
        &:before {
          width: 100%;
        }
      }
    }
  }
}

